
<!DOCTYPE html>
<html lang="ro">

<head>
    <%- include('../fragments/head') %>
    <link rel="stylesheet" href="/galerie.css">
</head>

<body>
    <%- include('../fragments/header') %>

    <main>
        <div class="container">
            <h1>Galerie de Instrumente Muzicale</h1>
            <p>Explorați colecția noastră de instrumente muzicale specifice anotimpului curent.</p>
            
            <%- include('../fragments/galerie') %>
        </div>
    </main>

    <%- include('../fragments/footer') %>
</body>

</html>