<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%= pageTitle %>
</title>
<meta name="author" content="Podeanu Matei-Alexandru">
<meta name="keywords"
    content="instrumente muzicale online, cumpără chitare, închiriază sintetizator, reparații viori, lecții de pian, magazin online instrumente muzicale, cumpără instrumente muzicale, închiriază instrumente muzicale, reparații instrumente muzicale, cursuri de muzică online, accesorii instrumente muzicale, piane digitale, chitare clasice, instrumente muzicale pentru începători, instrumente muzicale profesionale">
<meta name="description"
    content="Armonia este magazinul tău de încredere pentru instrumente muzicale de calitate. Oferim o gamă variată de instrumente și servicii pentru toți muzicienii.">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
<!-- favicon -->
<link rel="icon" type="image/png" href="/resources/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/resources/favicon/favicon.svg" />
<link rel="shortcut icon" href="/resources/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-touch-icon.png" />
<link rel="manifest" href="/resources/favicon/site.webmanifest" />
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/printstyle.css">
<link rel="stylesheet" href="/css/menu.css">
<link rel="stylesheet" href="/link-style.css">
<link rel="stylesheet" href="/galerie.css">
<link rel="stylesheet" href="/hrstyle.css">
<link rel="stylesheet" href="/css/animated-gallery.css">